.navbar{
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);
}
.navbar.scrolled{
    background-color: var(--main-color);
}
.navbar .container{
    padding: 0px 50px;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
.container img{
    height: 40px;
    margin-right: 40px;
    cursor: pointer;
}
.left{
    display: flex;
    align-items: center;
}
.icon{
    margin: 0 15px;
    cursor: pointer;
}
span{
    margin-right: 20px;
    cursor: pointer;
}
.right{
    align-items: center;
    display: flex;
}
.loginButton{
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}